.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xenopus-phenotype-ontology.iml
*.tmp
*.tmp.obo
*.tmp.owl
*.tsvBK
bin/
/catalog-v001.xml
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/mp-base.owl
src/ontology/mp.obo
src/ontology/mp.owl
src/ontology/patterns
src/ontology/seed.txt
src/ontology/target/
src/ontology/target/
src/ontology/mp-base.*
src/ontology/mp-full.*
src/ontology/mp-simple-non-classified.*
src/ontology/mp.obo
src/ontology/mp.owl
src/patterns/all_pattern_terms.txt
src/patterns/anatomy_seed.txt
src/patterns/data/default/*.txt
src/patterns/dosdp-tools.log
src/patterns/editseed.txt
src/patterns/imports/seed_sorted.txt
src/patterns/reserved_iris.txt
src/patterns/tmp
src/patterns/mp.csv
src/ontology/mp-down.owl
src/ontology/Dockerfile
src/patterns/data/default/*.ofn
src/patterns/data/default/*.txt
src/ontology/patternised_classes.txt
src/ontology/tmp/
src/ontology/reports/
src/patterns/pattern_owl_seed.txt
src/ontology/qc.owl
src/ontology/ontologyterms-test.txt
src/ontology/imports/*_terms_combined.txt
build/robot.bat
build/robot.jar
mp-base.json
mp-base.obo
mp-base.owl
mp-full.json
mp-full.obo
mp-full.owl
mp-simple-non-classified.json
mp-simple-non-classified.obo
mp-simple-non-classified.owl
mp.json
mp.obo
mp.owl
src/ontology/translations/mp-ja.owl
src/translations/mp-ja-preprocessed.babelon.tsv
src/translations/mp-ja.synonyms.owl
src/translations/mp-all.babelon.json
mp-international.json
mp-international.obo
mp-international.owl
